 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
  min-height: 3634px;
}

.u-section-1 .u-group-1 {
  min-height: 201px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/Pngtreeinsurance_3634053.png");
  background-position: 50% 50%;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/Pngtreeinsurance_3634053.png");
  background-position: 50% 50%;
  margin: -147px 5px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 369px;
  margin: -137px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-weight: normal;
  width: 422px;
  margin: 15px auto 0;
}

.u-section-1 .u-group-2 {
  width: 1157px;
  min-height: 66px;
  margin: 33px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  width: 1157px;
  min-height: 3280px;
  margin: 17px auto 37px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 8px;
}

.u-section-1 .u-group-4 {
  width: 1107px;
  min-height: 816px;
  margin: 24px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 100px;
  margin: 9px auto 0 490px;
}

.u-section-1 .u-text-5 {
  margin: 14px 50px 0;
}

.u-section-1 .u-text-6 {
  margin: 27px 50px 0;
}

.u-section-1 .u-group-5 {
  min-height: 709px;
  width: 1107px;
  margin: 24px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-1 .u-line-2 {
  width: 100px;
  margin: 10px auto 0 489px;
}

.u-section-1 .u-text-8 {
  margin: 14px 62px 0 38px;
}

.u-section-1 .u-text-9 {
  margin: 27px 60px 0;
}

.u-section-1 .u-group-6 {
  min-height: 698px;
  width: 1107px;
  margin: 17px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 30px auto 0;
}

.u-section-1 .u-line-3 {
  width: 100px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 11px 60px 0 40px;
}

.u-section-1 .u-text-12 {
  margin: 17px 60px 0;
}

.u-section-1 .u-group-7 {
  min-height: 721px;
  width: 1107px;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 37px;
}

.u-section-1 .u-text-13 {
  margin: 30px auto 0;
}

.u-section-1 .u-line-4 {
  width: 100px;
  margin: 14px auto 0 454px;
}

.u-section-1 .u-text-14 {
  margin: 11px 27px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 27px 23px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 215px 0 auto;
  padding: 10px 31px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -49px auto 0 246px;
  padding: 9px 54px 11px;
}

.u-section-1 .u-image-3 {
  width: 102px;
  height: 137px;
  margin: -25px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -9px 491px 0 auto;
  padding: 8px 18px 8px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 349px;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
  }

  .u-section-1 .u-group-4 {
    width: 924px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 924px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    width: 924px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    width: 924px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 29px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 262px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-group-4 {
    width: 704px;
  }

  .u-section-1 .u-group-5 {
    width: 704px;
  }

  .u-section-1 .u-group-6 {
    width: 704px;
  }

  .u-section-1 .u-group-7 {
    width: 704px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-group-4 {
    width: 524px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 424px;
  }

  .u-section-1 .u-group-5 {
    width: 524px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 424px;
  }

  .u-section-1 .u-group-6 {
    width: 524px;
  }

  .u-section-1 .u-group-7 {
    width: 524px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-4 {
    margin-left: 404px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 324px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 224px;
  }

  .u-section-1 .u-group-5 {
    width: 324px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 224px;
  }

  .u-section-1 .u-group-6 {
    width: 324px;
  }

  .u-section-1 .u-group-7 {
    width: 324px;
  }

  .u-section-1 .u-line-4 {
    margin-left: 204px;
  }
}